{{#if auth}}


<h2>O carro da marca {{user.marca}} tem potência de {{user.pot}} de nome {{user.nome}} e cor {{user.cor}} e foi fabricado no ano de {{user.ano}}</h2>

<a href="/">Home</a>
<a href="/users/add">Novo Usuário</a>
{{/if}}