<h2>O produto cadastrado foi {{product.name}} <br> provindo do servidor {{product.forn}} <br> foi comprado no dia {{product.date}} <br> pelo valor de {{product.compra}} <br> e vendido pelo valor de {{product.venda}} <br> sendo parte da categoria {{product.categ}} </h2>

<a href="/">Meus Produtos</a>
<br>
<a href="/products/add">Novo Produto</a>